# Віртуальне середовище
.venv/
venv/

# Кеш-файли Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Файли журналів і тимчасові дані
*.log
*.tmp

# Налаштування IDE
.vscode/
.idea/

# Кеш-дані тестів
.pytest_cache/

# Файли середовища
.env
.env.*

# Результати виконання
*.out
*.dat
*.csv